body {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  text-indent: 30px;
  text-transform: lowercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 1.7;
}
