* {
  padding: 0px;
  margin: 0px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(odd) {
  background-color: brown;
}
.container {
  width: 100%;
  /* height: 600px; */
  border: 5px solid gray;
  flex-direction: row;
  display: flex;
  /* main axis */
  justify-content: start;
  /* cross axis*/
  align-items: center;
  flex-wrap: wrap;
}
